.topPicture{
    border-radius: 50%;
}
.topBackground{
    background-size: 100% 100%;
    /*background: url("background.JPG") no-repeat;*/
    background-color:#eb4f38;
    height:100px;
}
.listBackground{
    /*background-size: 100% 100%;*/
    /*background: url("imgs/101.jpg") ;*/
}
.ui-panel-page-container-k {
    background-color: 			#eb4f38; /*{b-body-background-color}*/;
    border-color:	 		#1d1d1d /*{b-body-border}*/;
    color: 					#fff /*{b-body-color}*/;
    text-shadow: 0 /*{b-body-shadow-x}*/ 1px /*{b-body-shadow-y}*/ 0 /*{b-body-shadow-radius}*/ 	#111 /*{b-body-shadow-color}*/;
}
.imgcenter{
    text-align: center;
}
.ui-icon-kid-paw-outline:after {
    background:url('icons/iconfont-iospawoutline64.png') no-repeat 0 0;
    background-size: 18px 18px;
}
.ui-icon-kid-find-outline:after {
    background:url('icons/iconfont-findoutline64.png') no-repeat 0 0;
    background-size: 18px 18px;
}
.ui-icon-kid-user-outline:after {
    background:url('icons/iconfont-useroutline64.png') no-repeat 0 0;
    background-size: 18px 18px;
}
.ui-icon-kid-paw:after {
    background:url('icons/iconfont-iospaw64.png') no-repeat 0 0;
    background-size: 18px 18px;
}
.ui-icon-kid-find:after {
    background:url('icons/iconfont-find64.png') no-repeat 0 0;
    background-size: 18px 18px;
}
.ui-icon-kid-user:after {
    background:url('icons/iconfont-user64.png') no-repeat 0 0;
    background-size: 18px 18px;
}
.ui-icon-left-kids:after{
    background:url('icons/iconfont-list64.png') no-repeat 0 0;
    background-size: 18px 18px;
}
.ui-icon-right-edit:after{
    background:url('icons/iconfont-edit64.png') no-repeat 0 0;
    background-size: 18px 18px;
}
.ui-icon-back:after{
    background:url('icons/iconfont-back.png') no-repeat 0 0;
    background-size: 18px 18px;
}
.ui-icon-finish:after{
    background:url('icons/iconfont-dui.png') no-repeat 0 0;
    background-size: 18px 18px;
}
.ui-icon-photo-add:after{
    background:url('icons/iconfont-addphoto.png') no-repeat 0 0;
    background-size: 18px 18px;
}
.ui-icon-location:after{
    background:url('icons/iconfont-location.png') no-repeat 0 0;
    background-size: 18px 18px;
}
.ui-icon-recommend-outline:after{
    background:url('icons/iconfont-star.png') no-repeat 0 0;
    background-size: 18px 18px;
}
.ui-icon-recommend:after{
    background:url('icons/iconfont-star2.png') no-repeat 0 0;
    background-size: 18px 18px;
}
.ui-icon-concern-outline:after{
    background:url('icons/iconfont-concern1.png') no-repeat 0 0;
    background-size: 18px 18px;
}
.ui-icon-concern:after{
    background:url('icons/iconfont-concern2.png') no-repeat 0 0;
    background-size: 18px 18px;
}
.ui-icon-findaround-outline:after{
    background:url('icons/iconfont-findaround-outline.png') no-repeat 0 0;
    background-size: 18px 18px;
}
.ui-icon-findaround:after{
    background:url('icons/iconfont-findaround.png') no-repeat 0 0;
    background-size: 18px 18px;
}
